@import '../styles/custom-media.css';
@import '../styles/custom-properties.css';

.root {
  display: block;
  color: inherit;
  text-decoration: none;
}

.inList {
  composes: root;
  display: flex;

  @media (--media-min-medium) {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 2em;
  }
}

.inGrid {
  composes: root;
}

.leadMediaThumb {
  width: 30%;
  padding: 20px;


  @nest & img {
    top: 0;
    left: 0;
    width: 100%;
    object-fit: cover;
  }
}



.text {
  width: 70%;
}

.title {
  @media (hover: hover) {
    @nest .root:hover & {
      text-decoration: underline;
    }
  }
}

.excerpt {
  @nest & p {
    margin: 0.5em 0;
  }

  @nest & strong {
    font-weight: 600;
  }
}

.date {
  font-size: var(--font-small-size);
  line-height: var(--font-small-line-height);
  color: var(--color-gray);
}


@media only screen and (max-width: 768px){
  .leadMediaThumb{
    width: 40%
  }
}

@media only screen and (max-width: 620px){
  .inList {
    flex-direction: column;
    margin-bottom: 60px;
  }
  .leadMediaThumb{
    width: 100%;
    padding: 0;
  }

  .text {
    width: 100%;
  }

  .title {
    margin: 0;
  }
}