@import '../styles/custom-media.css';
@import '../styles/custom-properties.css';

.branding {
  font-weight: 600;
  flex: 1;
  padding: 20px;
  margin: 4px;
  height: 100px;
  box-shadow: 2px 2px 1px rgb(231, 231, 231);
  background-image: linear-gradient(rgba(255, 0, 0, 0.356),rgb(136, 136, 136)), url("https://resources.premierleague.com/photos/2021/05/26/6a03872c-3fc6-4524-8f48-7eb2f72c6101/GettyImages-1292265660.jpg?width=1350&height=759");
  background-position: center;
}

.imageLogo {
  width: 100px;
}