@import '../styles/custom-media.css';
@import '../styles/custom-properties.css';

.center {
  /* max-width: 1080px; */
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.imageLogo {
  width: 200px;
  padding: 16px 16px 0 16px;
}

.strip {
  background: rgb(29, 29, 29);
  width: 100%;
  padding: 20px;
}

.leftStrip {
  background: rgb(29, 29, 29);
  padding: 20px;
}